Repository BugFactoryInc/swift: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, fix-copyright-header

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat
        entry: scripts/swiftformat-wrapper.sh
        language: system
        files: '.*\.swift$'
        pass_filenames: false
      - id: fix-copyright-header
        name: Fix copyright header
        entry: scripts/fix-copyright-header.py
        language: system
        files: '.*\.swift$'
        exclude: '^Package\.swift$'
        pass_filenames: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

exclude Package.swift files from non-root directories
  .pre-commit-config.yaml
Due: none

invoke swiftformat directly with pre-commit
  .github/workflows/synchronize-resources.yml
  .pre-commit-config.yaml
  scripts/git-format-staged.py
  scripts/swiftformat-wrapper.sh
Due: none

invoke swiftformat directly with pre-commit (#13)
  .github/workflows/synchronize-resources.yml
  .pre-commit-config.yaml
  scripts/git-format-staged.py
  scripts/swiftformat-wrapper.sh
Due: none

add spaceAroundOperators swiftlint rule
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

add spaceAroundOperators swiftlint rule (#14)
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

Update airbnb.swiftformat
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

Fixes
  Package.swift
  Plugins/FormatSwift/Plugin.swift
  Sources/AirbnbSwiftFormatTool/AirbnbSwiftFormatTool.swift
Due: swiftformat, fix-copyright-header

Fix
  Package.swift
Due: swiftformat

Update airbnb.swiftformat (#16)
  Package.swift
  Plugins/FormatSwift/Plugin.swift
  Sources/AirbnbSwiftFormatTool/AirbnbSwiftFormatTool.swift
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: swiftformat, fix-copyright-header

Update airbnb.swiftformat (#17)
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

Use Airbnb swiftformat tool again
  Package.swift
Due: swiftformat

Drop inexsistent test target
  Package.swift
Due: swiftformat

format package.swift
  Package.swift
Due: swiftformat

Update airbnb.swiftformat (#18)
  Package.swift
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: swiftformat

Change ref to master
  .github/workflows/synchronize-resources.yml
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Add synchronize resources workflow
  .github/workflows/synchronize-resources.yml
Due: none

Update rules
  .github/workflows/synchronize-resources.yml
  Package.swift
  Plugins/FormatSwift/CommandContext.swift
  Plugins/FormatSwift/Plugin.swift
  README.md
  Sources/AirbnbSwiftFormatTool/AirbnbSwiftFormatTool.swift
  Sources/AirbnbSwiftFormatTool/Command.swift
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
  Sources/AirbnbSwiftFormatTool/swiftlint.yml
  Tests/AirbnbSwiftFormatToolTests/AirbnbSwiftFormatToolTests.swift
Due: swiftformat, fix-copyright-header

Fix (#3)
  README.md
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

Fix build (#4)
  .swiftlint.yml
Due: none

fix: add extension to git-format-staged script & fix references in GH workflow (#6)
  .github/workflows/synchronize-resources.yml
  scripts/git-format-staged.py
  scripts/swiftformat-wrapper.sh
Due: none

feat: add common pre-commit configuration with SwiftFormat invocation (#5)
  .github/workflows/synchronize-resources.yml
  .pre-commit-config.yaml
  scripts/git-format-staged
  scripts/swiftformat-wrapper.sh
Due: none

fix: make scripts in scripts/ directory executable (#7)
  scripts/git-format-staged.py
  scripts/swiftformat-wrapper.sh
Due: none

Fix wrap (#8)
  .swiftformat
  Package.swift
  Plugins/FormatSwift/Plugin.swift
  README.md
  Sources/AirbnbSwiftFormatTool/AirbnbSwiftFormatTool.swift
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
  Tests/AirbnbSwiftFormatToolTests/AirbnbSwiftFormatToolTests.swift
Due: swiftformat, fix-copyright-header

Disable void redundant type removal in closures (#9)
  .github/workflows/synchronize-resources.yml
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

Update swiftformat-wrapper.sh (#11)
  scripts/swiftformat-wrapper.sh
Due: none

Update swiftformat-wrapper.sh (#10)
  scripts/swiftformat-wrapper.sh
Due: none

Add `semicolons` rule to .swiftformat
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: none

Too many parens :P
  .github/workflows/synchronize-resources.yml
Due: none

Autofix copyright header (#12)
  .github/workflows/synchronize-resources.yml
  .pre-commit-config.yaml
  scripts/fix-copyright-header.py
  scripts/git-format-staged.py
  scripts/swiftformat-wrapper.sh
Due: none

Fix condition in synchronize-resources.yml
  .github/workflows/synchronize-resources.yml
Due: none

Fix condition in synchronize-resources.yaml
  .github/workflows/synchronize-resources.yml
Due: none

Update airbnb.swiftformat (#16)
  Plugins/FormatSwift/Plugin.swift
  Sources/AirbnbSwiftFormatTool/AirbnbSwiftFormatTool.swift
  Sources/AirbnbSwiftFormatTool/airbnb.swiftformat
Due: swiftformat, fix-copyright-header
